.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    list-style: none;
    max-width: 282px;
    width: 100%;
    overflow: hidden;
    position: relative;
    color: #fff;
}

.card__image {
    height: 282px;
    width: 282px;
}

.card__title {
    margin-top: 0;
    max-width: 219px;
    font-weight: 900;
    line-height: 29px;
    font-size: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 20px 0 0 20px;
}

.card__footer {
    display: flex;
    background: #fff;
    color: #000;
    align-items: center;
    justify-content: space-between;
}

.card__like-button {
    border-style: none;
    background: transparent url(../images/heart.svg) center no-repeat;
    height: 100%;
    width: 25%;
}
.card__like-button_active {
    background: transparent url(../images/heart-black.svg) center no-repeat;
}

.card__like-button:hover {
    opacity: 0.5;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.card__trash-button {
    background: transparent url(../images/Trash.svg) center no-repeat;
    height: 20%;
    width: 20%;
    position: absolute;
    border-style: none;
    top: -10px;
    left: 230px;
    cursor: pointer;
}

.card__trash-button:hover {
    opacity: 0.6;
    transition: 0.5s linear;
}