.modal {
    position: fixed;
    display: flex;
    padding: 0 19px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease-out 0.5s, opacity 0.5s;
}

.modal_opened {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
    cursor: pointer;
}

.modal__container {
    position: relative;
    margin: auto;
    padding: 36px;
    background-color: #fff;
    max-width: 430px;
    max-height: 330px;
    border-radius: 10px;
}

.modal__container-image {
    position: relative;
    margin: auto;
}

.modal__name {
    color: #fff;
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 400;
}

.modal__image {
    max-width: 75vw;
    max-height: 75vh;
}

.modal__heading {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 330px;
    color: black;
    margin: 0;
    padding-bottom: 25px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 358px;
}

.modal__close {
    position: absolute;
    background: transparent url("../images/close_icon.svg") no-repeat;
    background-size: contain;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
}

.modal__close:hover {
    opacity: 60%;
    transition: opacity 0.2s linear;
}

.modal__input {
    border-style: none;
    border-bottom: solid rgba(0, 0, 0, 0.2);
    border-width: 1px;
    margin-top: 27px;
    margin-bottom: 5px;
    height: 27px;
    outline: none;
}

.modal__button {
    color: #fff;
    background-color: #000;
    height: 50px;
    margin-top: 25px;
    border-style: none;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

.modal__button_disabled {
    cursor: default;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.2);
    border: solid rgba(0, 0, 0, 0.2);
    border-width: 1px;
}

.modal__button:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.2s linear;
}

.modal__error {
    font-size: 12px;
    line-height: 15px;
    color: rgb(255, 0, 0);
    transition: opacity 0.3s;
}

.modal__input_type_error {
    border-bottom: solid rgb(255, 0, 0);
    border-width: 1px;
}

@media screen and (max-width: 630px) {
    .modal__container {
        max-height: 322px;
        max-width: 282px;
        padding: 25px;
        margin-top: 123px;
    }

    .modal__heading {
        font-size: 18px;
    }
    
    .modal__form {
        width: 238px;
        font-size: 14px;
    }

    .modal__save {
        height: 46px;
        font-size: 14px;
    }

    .modal__close {
        bottom: calc(100% + 20px);
        left: calc(100% + -30px);
        width: 26px;
        height: 26px;
    }
}