.page {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background: black;
    color: #fff;
}

.page__section {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.page__content {
    display: flex;
    flex-direction: column;
}