.page {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background: black;
    color: #fff;
}

.page__section {
    max-width: 880px;
    width: 100vw;
    position: relative;
    margin: 0 auto;
}

.page__content {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 880px) {
   .page__section {
        max-width: 600px;
   }
}
  
@media screen and (max-width: 420px) {
    .page__section {
        max-width: 282px;
    }
}